* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: #333;
}

.icon {
  width: 4rem;
  height: 4rem;
  /* color: #000; */
}

h1 {
  font-size: 4rem;
}

.container {
  width: 120rem;
  margin: 0 auto;
}
