/* ************************* */
/* ***** HEADER SECTION **** */
/* ************************* */

.header {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
  margin: 4.8rem 3.2rem;
}

/* ************************* */
/* ***** Main SECTION **** */
/* ************************* */

.recipes-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
